.seo-intro {
	min-height: 700px;
    max-height: 900px;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr max-content;
    position: relative;
}

.seo-intro__img-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.seo-intro__img-container::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 100%);
	z-index: 0;
}

.seo-intro__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.seo-intro__title {
	color: var(--light);
}

.seo-intro__subtitle {
	color: var(--light);
}

.seo-intro__breadcrumb {
	padding-top: calc(80px + 30px);
}

.seo-intro__breadcrumb .breadcrumb__link,
.seo-intro__breadcrumb .breadcrumb__item {
	color: var(--light);
}


@media (max-width: 1279px) {
	.seo-intro {
		min-height: 500px;
		max-height: 700px;
	}

	.seo-intro__breadcrumb {
	padding-top: calc(70px + 30px);
	}
}

@media (max-width: 999px) {
	.seo-intro {
		min-height: 400px;
		max-height: 600px;
	}
}