.form-policy {
	display: block;
	position: relative;
}

.form-policy > .checkbox__container {
	display: grid;
	grid-template-columns: max-content 1fr;
	column-gap: 10px;
}

.form-policy > .checkbox__container > .checkbox__text {
	display: block;
	font-size: 13px;
}

.form-policy-link_color_light {
	color: var(--light);
	text-decoration: underline;
}