.section-header {
	background: var(--turquoise-green-gradient);
	padding: 40px 40px 0 40px;
	margin-bottom: 20px;
}

.section-header__title {
	color: var(--white);
}

.preview-product__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 1279px) {
	.preview-product__list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 767px) {
	.section-header {
		margin-left: -20px;
		margin-right: -20px;
		width: calc(100% + 40px);
		padding: 30px 20px 0 20px;
	}

	.preview-product__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 479px) {
	.preview-product__list {
		grid-template-columns: 1fr;
	}
}