:root {
	--color-white: #fff;
	--color-black: #000;
	--color-light-black: #222;
	--color-blue: #004182;
	--color-medium-blue: #094f94;
	--color-dark-blue: #2d333c;
	--color-light-blue: #f2f6fc;
	--color-yellow: #fdca04;
	--color-light-yellow: #fdd432;
	--color-red: #ff0000;
	--color-light-red: #ff3a3a;
	--color-green: #169982;
	--color-light-brown: #fcf2f2;
	--color-light-gray: #ddd;
	--color-gray: #bbb;
	--color-gray-blue: #C3CEDE;
}