:root {
    --white: #fff;
    --black: #000;
    --blue: #004283;
    --red: #ff0000;
    --red-light: #ff3030;
    --gray: #ebeef3;
    --green: #199A83;
    --yellow: #fdca04;
    --yellow-light: #fdd432;
    --dark-gray: #555;
}