/* spec-table */
.spec-table {

}

.spec-table__table {
	border-collapse: collapse;
	width: 100%;
}

.spec-table__subheader {
	font-weight: 700;
	font-size: 18px;
	text-align: left !important;
	padding-left: 0 !important;
}

.spec-table__header {
	font-size: 13px;
	font-weight: 600;
	color: var(--color-blue);
}

.spec-table td, .spec-table th {
	width: 12.5%;
	text-align: center;
	padding: 15px;
}

.spec-table__name {
	color: var(--color-blue);
	font-weight: 600;
}

.spec-table__name-mobile {
	display: none;
}

.spec-table__final-price-title,
.spec-table__final-price-value {
	background-color: var(--color-yellow);
	font-weight: 700;
}

.spec-table__final-price-value_type_rounded {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.spec-table__final-price-title {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: var(--color-black);
}

.spec-table__price-value,
.spec-table__price-title {
	background-color: #FFF6D3;
}

.spec-table__price-value {
	font-weight: 600;
}

.spec-table__price-title {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: var(--color-black);
}

.spec-table__price-value_type_rounded {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
}

.spec-table__char-value_style_border {
	position: relative;
}

.spec-table__char-value_style_border::after {
	content: '';
	position: absolute;
	top: 10%;
	left: 0;
	height: 80%;
	width: 1px;
	background-color: #cfd8e3;
}

.spec-table__line:nth-child(odd) {
	background-color: var(--color-light-blue);
}

.spec-table__install-price-value {
	font-weight: 600;
}

@media (max-width: 1279px) {
	.spec-table td, .spec-table th {
		padding: 25px 5px;
	}

	.spec-table__img-container {
		width: 100px;
		margin-left: auto;
		margin-right: auto;
	}
}


@media (max-width: 767px) {
	.spec-table__img-container {
		display: none;
	}

	.spec-table__title {
		display: none;
	}

	.spec-table__name-mobile {
		display: unset;
	}

	.spec-table__name-desktop {
		display: none;
	}
}

@media (max-width: 479px) {
	.spec-table__char-value {
		font-size: 13px;
	}

	.spec-table__char-value_no-wrap {
		white-space: nowrap;
	}

	.spec-table__final-price-title {
		font-size: 11px;
	}

	.spec-table__final-price-value {
		font-size: 13px;
	}

	.spec-table__name-mobile {
		font-size: 14px;
		font-weight: 500;
	}

	.spec-table__header th {
		font-size: 11px;
	}
}