.sitemap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
}

.sitemap__list {
	list-style: inside;
	padding: 0;
	margin: 0;
}

.sitemap__item {
	padding: 5px 0;
}

@media(max-width: 767px) {
	.sitemap {
		grid-template-columns: 1fr;
	}
}