.models__swiper {
	width: 100%;
	overflow: hidden;
}

.models__list {
    width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	row-gap: 20px;
}

.models__item {
	border-right: 1px solid var(--blue);
	padding: 0 20px;
}

.models__list .models__item:first-child {
	border-left: 1px solid var(--blue);
}

@media (max-width: 1279px) {
	.models__swiper {
		width: calc(100% + 40px);
		margin-right: -20px;
		margin-left: -20px;
	}

	.models__list {
		min-width: 1280px;
		width: 100%;
		padding: 0 20px;
	}
}