.contact {
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	column-gap: 80px;
}

.contacts-list__body {
	display: grid;
	row-gap: 30px;
}

.contact__link {
	display: inline-block;
}

.contact__tagline {
	display: block;
	margin-bottom: 5px;
}

.contact__phone-tagline {
	display: block;
	font-weight: 600;
}

@media (max-width: 767px) {
	.contact {
		column-gap: 40px;
	}
}

@media (max-width: 479px) {
	.contact {
		grid-template-columns: 1fr;
		row-gap: 10px;
	}
}