.export-map {
	background: var(--light-dark);
}

.export-map__title {
	color: var(--light);
	text-align: center;
}

.export-map__inner {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.export-map__map-container {
	position: relative;
}

.export-map__point {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
}

.export-map__point::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 40px;
	bottom: 0;
	left: -15px;
	background: url(/local/templates/tinger/img/dealers-point.svg) no-repeat center;
	background-size: contain;
	transform: translateY(-100px);
	transform-origin: bottom center;
	opacity: 0;
	transition: transform 0.2s ease, opacity 0.2s ease;
}

.export-map__point_visible::after {
	transform: translateY(0);
	opacity: 1;
}

.export-map__point_active::after {
	transform: scale(1.2);
	z-index: 2;
}

.export-map__point[data-point-id='0'] { top: 80%; left: 87%; } 
.export-map__point[data-point-id='1'] { top: 28.5%; left: 62%; }
.export-map__point[data-point-id='2'] { top: 27%; left: 56%; }
.export-map__point[data-point-id='3'] { top: 19%; left: 49%; }
.export-map__point[data-point-id='4'] { top: 22%; left: 52%; }
.export-map__point[data-point-id='5'] { top: 5%; left: 42%; }
.export-map__point[data-point-id='6'] { top: 11%; left: 45%; }
.export-map__point[data-point-id='7'] { top: 30%; left: 53.5%; }
.export-map__point[data-point-id='8'] { top: 17%; left: 23%; }
.export-map__point[data-point-id='9'] { top: 33%; left: 75%; }
.export-map__point[data-point-id='10'] { top: 32%; left: 83.5%; } 
.export-map__point[data-point-id='11'] { top: 18%; left: 55%; }
.export-map__point[data-point-id='12'] { top: 14%; left: 51%; }
.export-map__point[data-point-id='13'] { top: 20%; left: 54%; }
.export-map__point[data-point-id='14'] { top: 25%; left: 55.5%; }
.export-map__point[data-point-id='15'] { top: 22.5%; left: 54%; }
.export-map__point[data-point-id='16'] { top: 31%; left: 24%; }
.export-map__point[data-point-id='17'] { top: 29%; left: 59%; }
.export-map__point[data-point-id='18'] { top: 21.5%; left: 53%; }
.export-map__point[data-point-id='19'] { top: 24%; left: 51.5%; }
.export-map__point[data-point-id='20'] { top: 15%; left: 55%; }
.export-map__point[data-point-id='21'] { top: 32%; left: 86%; }

.export-map__list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.export-map__list-item {
	text-align: center;
	color: var(--light);
	opacity: 0.5;
	transition: opacity 0.2s ease, transform 0.2s ease;
}

.export-map__list-item_active {
	cursor: default;
	opacity: 1;
}

.export-map__list-item:hover {
	transform: scale(1.2);
}

@media (max-width: 999px) {
	.export-map__inner {
		grid-template-columns: 1fr;
	}

	.export-map__list {
		display: grid;
		justify-content: center;
		order: 2;
	}

	.export-map__list-item {
		text-align: center;
	}
}

@media (max-width: 479px) {
	.export-map__point::after {
		left: -12px;
		width: 24px;
		height: 32px;
	}
}