.products {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 5px;
	background: var(--light-blue);
}

.products__item {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	overflow: hidden;
}

.products__item::before {
	content: '';
	padding-bottom: 90%;
	z-index: 1;
}

.products__item::after {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 2s;
}

.products__item:hover::after {
	transform: scale(1.1);
}

.products__item_image_dog::after {
	background-image: url(/local/templates/tinger/img/products-dog.webp);
}

.products__item_image_t::after {
	background-image: url(/local/templates/tinger/img/products-t.webp);
}

.products__item_image_tingard::after {
	background-image: url(/local/templates/tinger/img/products-tingard.webp);
}

.products__item_image_tingerplast::after {
	background-image: url(/local/templates/tinger/img/products-tingerplast.webp);
}

.products__item-body {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 80px;
	z-index: 2;
}

.products__item-body_gradient_to-top {
	top: 0;
	background-image: linear-gradient(to top, rgba(0,0, 0, 0.7) 0%, transparent 80%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.products__item-body_gradient_to-bottom {
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 80%);
}

.products__title {
	text-align: center;
	color: var(--light);
}

.products__subtitle {
	font-size: 14px;
	color: var(--light);
	text-align: center;
}

.products__btn-container {
	display: grid;
	justify-content: center;
}

@media (max-width: 1279px) {
	.products__item-body {
		padding: 40px 20px;
	}

	.products__item:hover::after {
		transform: none;
	}
}

@media (max-width: 999px) {
	.products__subtitle {
		display: none;
	}
}

@media (max-width: 767px) {
	.products {
		grid-template-columns: 1fr;
		column-gap: 0;
		row-gap: 5px;
	}
}