.news-detailed {
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 40px;
	grid-template-rows: max-content 1fr max-content max-content;
}

.news-detailed__info {
	grid-column: 1 / 2;
	grid-row: 1 / 5;
}

.news-detailed__img-container {
	margin-bottom: 20px;
}

.news-detailed__img {
	display: block;
	width: 100%;
	height: auto;
}

.news-detailed__author {
	display: grid;
	grid-template-columns: max-content min-content;
	gap: 10px;
	align-items: center;
}

.news-detailed__author-img {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.news-detailed__bar {
	border-top: 1px solid var(--medium-blue);
	border-bottom: 1px solid var(--medium-blue);
	padding: 15px 0;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: space-between;
	align-items: center;
}

.news-detailed__text {
	margin-bottom: 30px;
}

.news-detailed__btn-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

@media (max-width: 767px) {
	.news-detailed {
		grid-template-columns: 1fr;
	}

	.news-detailed__info {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		margin-bottom: 30px;
	}

	.news-detailed__btn-container {
		grid-template-columns: 1fr;
	}
}